
.page{
    display: flex;              /* ustaw obie kolumny obok siebie */
  justify-content: center;
  gap: 0px; /* maksymalny rozstaw */
  align-items: flex-start;        /* wyrównanie obu kolumn do góry */
  width: 100%;
  margin-top: 20px;
}

.paragraph {
  text-indent: 1em;
}

.leftPartPage {
  width: auto;
  padding: 0;
}

.rightPartPage {
  width: auto;
  padding: 0;
  display: flex;
  align-items: flex-start;
}


.boxText{

  width: 400px;
  height: 600px;
  background-color: #f2f2f2;
  border: 3px solid #555;
  border-radius: 65px;
  transition: 0.3s;
  margin: auto; /* do ustawienia elementu na środku strony*/

  font-size: 20px; 
}
